<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/stories" class="brand-logo center">StoryBooks</a>
      <a href="#" data-activates="main-menu"
        class="button-collapse show-on-large">
        <i class="fas fa-bars"></i>
        <!-- RIGHT NAV -->
        <ul class="right hide-on-small-only">
          {{#if user}}
          <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
          <li>
            <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>
              Logout</a>
          </li>
          {{else}}
          <li>
            <a href="/stories"><i class="fas fa-book"></i> Public Stories</a>
          </li>
          {{/if}}
        </ul>
      </a>
    </div>
  </div>
</nav>