body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: 20px;
}

.story-text {
  min-height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}
